body {
    margin: 0px;
    font-family: "Orbitron", sans-serif;
  }
  
video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  top: 0px;
  left: 0px;
  filter: brightness(0.8);
}
