body {
  margin: 0px;
}
video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  top: 0px;
  left: 0px;
}
.main {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
}
#team-table,
#center,
#right {
  width: 33vw;
  height: 90vh;
  margin-top: 5vh;
  border-right: 5px double grey;
  align-items: center;
}
#team-table {
  font-size: 24px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr;
}
h2 {
  display: flex;
  justify-content: center;
  grid-column: 1/3;
}
#point,
#team {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(6, 100px);
  gap: 10px;
}
#point {
  justify-content: end;
}
#point-status {
  display: grid;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 0px 10px;
  grid-template-rows: repeat(2, 1fr);
  color: white;
}
#point-status:nth-child(1) {
  background-color: #d96bce;
}
#point-status:nth-child(2) {
  background-color: #2196e9;
}
#point-status:nth-child(3) {
  background-color: #e6433d;
}
#point-status:nth-child(4) {
  background-color: #8cc8ed;
}
#point-status:nth-child(5) {
  background-color: #ff8f0a;
}
#point-status:nth-child(6) {
  background-color: #307545;
}
#point-status span {
  display: flex;
  justify-content: center;
}
#point-status span:first-child {
  align-items: end;
}
#team ul {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  align-items: center;
  list-style: none;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
}

#center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 70px;
  margin-top: 20px;
  margin-bottom: 0px;
}
h2 {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 50px;
}
header {
  display: flex;
  margin-bottom: 50px;
  gap: 50px;
  justify-content: end;
}
.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid gold;
  width: 500px;
  height: 300px;
}
.player-info button {
  width: 100px;
}
#scout {
  display: flex;
  margin: 5px 0px;
  justify-content: center;
}
#scout select {
  background-color: yellow;
}
#scout-form input {
  background-color: green;
}

#right {
  background-color: white;
  opacity: 0.5;
  display: grid;
  grid-template-rows: 3fr 1fr;
}
#player-list, #burial-list{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}